<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="text-dark">Gestione delle contravvenzioni</h1>
        <h2 class="text-warning mb-4">Seleziona l'operazione da eseguire:</h2>
    </section>

    <div class="row">
        <section class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Totale dei verbali per trasgressore</h5>
                    <p class="card-text">Visualizza il totale dei verbali trascritti raggruppati per trasgressore.</p>
                    <a href="@Url.Action("TotVerbaliPerTrasgressore", "Home")" class="btn btn-primary">Visualizza</a>
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Totale dei punti decurtati per trasgressore</h5>
                    <p class="card-text">Visualizza il totale dei punti decurtati raggruppati per trasgressore.</p>
                    <a href="@Url.Action("TrasgressorePunti", "Home")" class="btn btn-primary">Visualizza</a>
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Violazioni che superano i 10 punti</h5>
                    <p class="card-text">Visualizza importo, cognome, nome, data di violazione e decurtamento punti delle violazioni che superano i 10 punti.</p>
                    <a href="@Url.Action("Sopra10", "Home")" class="btn btn-primary">Visualizza</a>
                </div>
            </div>
        </section>
        <section class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Violazioni con importo maggiore di 400 euro</h5>
                    <p class="card-text">Visualizza le violazioni il cui importo è maggiore di 400 euro.</p>
                    <a href="@Url.Action("ImportoSopra400", "Home")" class="btn btn-primary">Visualizza</a>
                </div>
            </div>
        </section>
    </div>
</main>
